body {
    background-color: darkseagreen;
    text-align: center;
}

hr {
    background-color: black;
    border-style: groove;
    border-top-style: dashed;
    border-width: 5px;
    width: 10%;
}

img{
    border-radius: 50%;
}